@import '_mixins.scss';
@include font-face(Lato, "../fonts/lato-v14-latin-regular");
@mixin font-change($color,
$size,
$weight) {
	color: $color;
	font-size: $size;
	font-weight: $weight;
}



@keyframes blink {
	0% {
		outline-color: rgba(248, 185, 194, 0);
	}
	50% {
		outline-color: rgba(248, 185, 194, 1);
	}
	100% {
		outline-color: rgba(248, 185, 194, 0);
	}
}

%width-main {
	width: 1140px;
	position: relative;
}

$border-standard: 1px solid #eaeaea;


%button-cart {
	@include font-change(#b1b1b1,
	13px,
	300);
	border: $border-standard;
	box-sizing: border-box;
	width: 100%;
	height: 45px;
	margin: 10px 0;
	padding: 0 20px;
	background-color: white;
	outline: none;
}


body {
	background-color: #fff;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;
	align-items: center;
}

.header-bar {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	height: 100px;
	border-bottom: $border-standard;
	display: flex;
	width: 1140px;
	margin: 0 auto;
	align-items: center;
	&-first {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		align-content: center;
	}
	&-second {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		align-content: center;
	}
}

.navbar {
	&__ul {
		list-style-type: none;
		display: flex;
		flex-direction: row wrap;
		justify-content: center;
		margin: 0;
		height: 51px;
		margin-bottom: 3px;
	}
	&__item {
		display: flex;
		height: 100%;
		margin: 0 20px;
		align-items: center;
		color: #222222;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		text-decoration: none;
		&:hover {
			border-bottom: 3px solid #ef5b70;
		}
		&_active {
			border-bottom: 3px solid #ef5b70;
		}
	}
}

.featured {
	&_heading {
		margin: 0 auto 16px;
		@include font-change(#222,
		30px,
		700);
		text-align: center;
	}
	&_p {

		color: #9f9f9f;
		font-size: 14px;
		font-weight: 400;
		text-align: center;
		margin: 0 auto 60px;
	}
}

.items {
	width: 1140px;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-around;
	height: 806px;
	&-one-row {
		position: relative;
		height: 559px;
		align-content: space-around;
	}
}


.product {
	position: relative;
	transition: all 0.3s ease;
	@media screen and (min-height: 1141px) {
		height: 364px;
	}
	&:hover {
		box-shadow: 0px 2px 21px 0px rgba(0, 0, 0, 0.23);
		.product__image {
			transition: all 0.3s ease;
			filter: brightness(0.4);
		}
		&:after {
			position: absolute;
			cursor: pointer;
			content: "Add to cart";
			display: inline-block;
			border: 1px solid #fff;
			background-color: rgba(255, 255, 255, 0);
			background: url(../img/Forma%201%20copy.png) 5% 50% no-repeat;
			width: 50%;
			height: 39px;
			line-height: 39px;
			top: 25%;
			left: 25%;
			color: #ffffff;
			font-size: 13px;
			font-weight: 700;
			text-align: center;
		}
	}
	&__name {
		margin-left: 14px;
		color: #222;
		font-size: 13px;
		font-weight: 700;
		text-align: left;
		text-transform: uppercase;
	}
	&__price {
		margin-left: 14px;
		color: #f16d7f;
		font-size: 16px;
		font-weight: 700;
		text-align: left;
	}
}


.material__text {
	color: #2f2f2f;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;

}

.designer__text {

	color: #2f2f2f;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
}

.color__chosen {
	z-index: 1;
	display: block;
	position: absolute;
	background-color: #ef5b70;
	width: 12px;
	height: 12px;
	top: 52px;
	left: 14px;
}

.product-form__selection_wrapper {
	margin-top: 63px;
	display: flex;
	width: 100%;
	justify-content: center;
}

.product-form__selection {
	display: flex;
	position: relative;
	width: 537px;
	justify-content: space-between;
}

.size-color-red {
	display: block;
	position: relative;
	background-color: #ef5b70;
	width: 1200px;
	height: 1200px;
	top: 10px;
	left: 10px;
}

.choose-color {
	min-height: 30px;
	line-height: 30px;
	padding: 10px;
	cursor: pointer;
}

.product-info {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	position: relative;
	top: -86px;
	width: 1140px;
	height: 730px;
	margin: 0 auto;
	border-style: solid;
	border-width: 1px;
	border-color: #eaeaea;
	box-sizing: border-box;
	background-color: #ffffff;
	&__submit {
		display: block;
		margin: 28px 0;
		border-style: solid;
		border-width: 1px;
		border-color: #ef5b70;
		box-sizing: border-box;
		background-color: #ffffff;
		width: 537px;
		height: 55px;
		text-transform: capitalize;

		color: #ef5b70;
		font-size: 16px;
		font-weight: 700;
		text-align: center;
		outline: none;
		&:hover {
			background-color: #ef5b70;
			color: #ffffff;
		}
		&:active {
			background-color: #ba122b;
			color: #ffffff;
		}
	}
	&__choose-qty {
		border-style: solid;
		border-width: 1px;
		border-color: #eaeaea;
		box-sizing: border-box;
		background-color: #ffffff;
		width: 144px;
		height: 35px;
		margin-top: 16px;
		padding-left: 10px;
		font-size: 16px;
		outline: none;
	}
	&__choose-size {
		border-style: solid;
		border-width: 1px;
		border-color: #eaeaea;
		box-sizing: border-box;
		background-color: #ffffff;
		width: 144px;
		height: 35px;
		margin-top: 16px;
		text-transform: uppercase;
		padding-left: 10px;
		font-size: 16px;
		outline: none;
		cursor: pointer;
	}
	&__choose-color {
		position: relative;
		border-style: solid;
		border-width: 1px;
		border-color: #eaeaea;
		box-sizing: border-box;
		background-color: #ffffff;
		width: 144px;
		height: 35px;
		margin-top: 16px;
		text-transform: capitalize;
		padding-left: 35px;
		font-size: 16px;
		outline: none;
		cursor: pointer;
	}
	&__label {

		color: #2f2f2f;
		font-size: 14px;
		font-weight: 700;
		line-height: 24px;
		text-align: left;
		text-transform: uppercase;
		width: 144px;
		margin-bottom: 10px;
		&_first {
			position: relative;
		}

	}
	&__price {
		display: block;
		width: auto;
		margin: 0 auto;

		color: #ef5b70;
		font-size: 24px;
		font-weight: 700;
		line-height: 24px;
		text-align: center;
	}
	&__form {
		display: flex;
		justify-content: center;
		align-content: flex-start;
		flex-flow: row wrap;
		height: 329px;
		width: 100%;
	}
	&__designer {
		display: block;
		width: 50%;

		color: #b9b9b9;
		font-size: 14px;
		font-weight: 700;
		line-height: 24px;
		text-align: center;
		text-transform: uppercase;
		margin: 0 auto;
	}
	&__wrapper {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		margin: 28px 0 28px;
	}
	&__material {
		display: block;
		width: 50%;

		color: #b9b9b9;
		font-size: 14px;
		font-weight: 700;
		line-height: 12px;
		height: auto;
		text-align: center;
		text-transform: uppercase;
		margin: 0 auto;
	}
	&__text {
		margin: 0;
		display: flex;

		color: #5e5e5e;
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
		text-align: center;
		width: 100%;
	}
	&__header {
		display: flex;
		justify-content: center;

		color: #4d4d4d;
		font-size: 18px;
		font-weight: 900;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
	}
	&__container {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-content: flex-start;
		position: relative;
		height: 400px;
		width: 642px;
		border-bottom: 1px solid #eaeaea;
		box-sizing: border-box;
	}
	&__title {
		display: block;
		position: relative;
		margin: 0 auto 14px;
		border-bottom: 1px solid #eaeaea;
		width: 147px;
		white-space: nowrap;
		&:after {
			content: "";
			display: flex;
			position: relative;
			background: #ef5b70;
			height: 3px;
			width: 50%;
			bottom: -2px;
			left: 25%;
			margin-top: 10px;
		}
		&_wrapper {
			position: relative;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			align-content: center;

			color: #f16d7f;
			width: 300px;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
			text-transform: uppercase;
			height: 198px;
		}
	}
}

.see-also {
	width: 100%;
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	align-content: center;
	align-items: center;

	color: #4d4d4d;
	font-size: 24px;
	font-weight: 900;
	line-height: 20px;
	text-align: center;
	height: auto;
}


.submit {
	margin: 32px 0 0;
	border-style: solid;
	border-width: 1px;
	border-color: #eaeaea;
	box-sizing: border-box;
	background-color: #ffffff;
	width: 180px;
	height: 50px;
	text-decoration: none;
	text-transform: uppercase;
}





.btn {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	text-transform: capitalize;
	cursor: pointer;
	outline: none;
	&_lato {
		margin: auto 0;
		color: #4a4a4a;
		font-size: 0.875em;
		font-weight: 700;
		text-align: left;
		&:active {
			background-color: #4a4a4a;
			color: #fff;
		}
	}
	&_common {
		margin: 32px 0 0;
		border-style: solid;
		border-width: 1px;
		border-color: #eaeaea;
		box-sizing: border-box;
		background-color: #ffffff;
		width: 180px;
		height: 50px;
		text-decoration: none;
		text-transform: uppercase;
	}
	&:hover {
		box-shadow: 2px 2px 3px;
		transform: translate(-1px, -1px)
	}
	&:active {
		box-shadow: 2px 2px 3px;
		background-color: #aaa;
	}
	&_red {
		background-color: #f16d7f;
		color: #ffffff;
		font-size: 16px;
		font-weight: bold;
		text-decoration: none;
		outline-style: solid;
		outline-color: #fff;
		outline-width: 6px;
		box-sizing: border-box;
		animation: blink 6s step-end infinite;
		width: 224px;
		height: 60px;
		&:hover {
			background-color: #ffffff;
			color: #f17484;
			border: 1px solid rgba(248, 185, 194, 1);
		}
	}
	&__text {
		margin: auto;
	}
	&__arrow {
		vertical-align: middle;
	}
}



.input_text {
	font-size: 20px;
	padding: 10px;
	&_label {
		color: #777;
		font-size: 12px;
		font-weight: bold;
		line-height: 20px;
		text-align: left;
		text-transform: uppercase;
	}
}

.regular {
	display: block;
	margin: 16px 0 23px;
	border-style: solid;
	border-width: 1px;
	border-color: #eaeaea;
	box-sizing: border-box;
	background-color: #ffffff;
	width: 390px;
	height: 45px;
	padding: 0 10px;
	font-size: 20px;
	outline: none;
}

.checkout {
	margin: auto;
	width: 1140px;
	min-height: 72px;
	border-bottom: 1px solid #eff0f1;
	&__shipping {
		display: block;
		overflow: auto;
		margin: 89px auto 0;
	}
}



.title {
	height: 100%;
	line-height: 74px;
}

.formfield {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin: 39px 35px;
}


.radio_custom {
	display: none;
}

.radio {
	margin-bottom: 20px;
}

.radio_first {
	margin-top: 34px;
}

.radio_custom_label {
	position: relative;
	padding: 0 0 0 14px;
	cursor: pointer;
	margin: 0 0 0 18px;
	&:before {
		content: '';
		position: absolute;
		top: 0px;
		left: -17px;
		width: 14px;
		height: 14px;
		border: 2px solid #555;
		background: #FFF;
		border-radius: 50%;
		box-sizing: border-box;
	}
	&:after {
		content: '';
		position: absolute;
		top: 4px;
		left: -12.8px;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background: #555;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
		filter: opacity(0);
		transition: .2s;
	}
}

.radio_custom:checked + .radio_custom_label:after {
	filter: opacity(1);
} //----------
//feature
.feature {
	width: 1140px;
	padding: 113px 0 97px;
	display: flex;
	flex-flow: row nowrap;
	&-block {
		width: 373px;
		background: #222224;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-end;
		align-content: space-around;
		max-height: 529px;
		overflow: hidden;
	}
	&-item {
		position: relative;
		width: 220px;
		display: flex;
		flex-flow: row wrap;
		padding: 40px;
		&__title {
			font-family: Lato;
			color: #fbfbfb;
			font-size: 20px;
			font-weight: 700;
		}
		&__text {
			font-family: Lato;
			color: #fbfbfb;
			font-size: 14px;
			font-weight: 300;
			line-height: 24px;
			word-break: break-all;
		}
		@media screen and (min-width: 1141px) {


			&:nth-child(1) {
				&:before {
					content: "";
					display: block;
					position: absolute;
					top: 35px;
					left: -30px;
					width: 50px;
					height: 50px;
					background: url(../img/Forma%201.png) center no-repeat;
				}
			}
			&:nth-child(2) {
				&:before {
					content: "";
					display: block;
					position: absolute;
					top: 35px;
					left: -30px;
					width: 50px;
					height: 50px;
					background: url(../img/Forma%202.png) center no-repeat;
				}
			}
			&:nth-child(3) {
				&:before {
					content: "";
					display: block;
					position: absolute;
					top: 35px;
					left: -30px;
					width: 50px;
					height: 50px;
					background: url(../img/Forma%203.png) center no-repeat;
				}
			}
		}
	}
} //----------
//----------
//----------
//subscribe
.subscribe {

	position: relative;
	width: 1600px;
	height: 438px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	background: url(../img/Layer%20101.png) center 100% no-repeat;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, .4);
	}
	&-slider {
		z-index: 1;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		flex: 0 1 50%;
		&__list {
			display: flex;
			flex-flow: row nowrap;
			list-style: none;
			padding: 15px 0 0 25px;
		}
		&__item {
			display: flex;
			box-sizing: border-box;
			width: 38px;
			height: 4px;
			background-color: #d6d6d6;
			border: none;
			margin-right: 10px;
			cursor: pointer;
			&:nth-child(2) {
				background-color: #f16d7f;
			}
			&:hover {
				background-color: #f16d7f;
			}
		}
		@media screen and (min-width: 1141px) {
			.quote-block {
				margin-left: 250px;
				position: relative;
				&:after {
					position: absolute;
					display: block;
					content: "";
					top: 100%;
					font-size: 30px;
				}
				&__quote {
					width: 386px;
					font-style: italic;
					position: relative;
					line-height: 26px;
					padding-left: 25px;
					&:before {
						position: absolute;
						display: block;
						content: url(../img/Layer%20100.png);
						top: 0;
						right: 100%;
					}
				}
				&__name {
					padding-left: 25px;
					padding-top: 20px;
					width: 386px;
					color: #f16d7f;
					font-size: 16px;
					font-weight: 700;
					text-transform: capitalize;
				}
				&__address {
					padding-left: 25px;
					width: 386px;
					color: #222224;
					font-size: 12px;
					font-weight: 300;
					text-transform: capitalize;
				}
			}
		}
	}
	&__form {
		z-index: 1;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-content: center;
		align-items: center;
		flex: 0 1 50%;
	}

	&__info-title {
		text-transform: uppercase;
		margin: 0;
		color: rgba(34, 34, 36, 0.67);
		font-weight: 400;
		font-size: 24px;
	}
	&__info-text {
		@extend .subscribe__info-title;
		font-size: 14px;
		padding: 10px 0 25px;
	}
	&__input {
		width: 282px;
		border: none;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
		color: rgba(34, 34, 36, 0.67);
		font-size: 14px;
		font-weight: 400;
		outline: none;
		padding: 16px 15px 16px 30px;
		&:focus {
			box-shadow: 0 0 7px 0 #a4a4a4 inset;
		}
	}
	&__submit {
		background: #f16d7f;
		width: 104px;
		outline: none;
		border: none;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		font-family: Lato;
		color: #ffffff;
		font-size: 14px;
		font-weight: 400;
		padding: 15px;
		cursor: pointer;
		border: 1px solid rgba(255, 255, 255, 0);
		box-sizing: border-box;
		&:hover {
			color: #f16d7f;
			background: #ffffff;
			border: 1px solid #f16d7f;
		}
		&:active {
			color: #ffffff;
			background: #f16d7f;
		}
	}
} //----------
//----------
.line {
	width: 1140px;
	margin: 0 auto;
}

.about {
	//	height: 260px;
	height: auto;
	margin-top: 93px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	&__brand {
		display: flex;
		flex-flow: row wrap;
		flex-basis: 35%;
		align-items: center;
		justify-content: flex-start;
		align-content: space-between;
	}
	&__text {
		margin: 0;
		color: #898989;
		font-size: 14px;
		font-weight: 400;
		text-align: left;
		line-height: 22px;
	}
}

.sitemap-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	flex-basis: 55%;
	&__item {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	&__a {
		text-decoration: none;
		text-transform: capitalize;
		color: #898989;
		font-size: 16px;
		font-weight: 400;
		&:hover {
			text-decoration: underline;
		}
		&-heading {
			text-decoration: none;
			text-transform: uppercase;
			color: #f16d7f;
			font-size: 18px;
			font-weight: 700;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__column {
		padding-top: 45px;
	}
	&__row {
		padding-bottom: 20px;
	}
}

.heading {
	display: flex;
	margin: 0 auto;
	background-color: #f8f3f4;
	height: 148px;
	width: 1140px;
	justify-content: space-between;
	&__title {
		display: flex;
		align-items: center; //		margin-left: 15%;
		color: #f16d7f;
		font-size: 24px;
		font-weight: bold;
		text-transform: uppercase;
	}
}


.breadcrumbs {
	//	margin-right: 15%;
	display: flex;
	align-items: center;
	color: #636363;
	font-size: 0.875em;
	font-weight: 300;
	text-transform: uppercase;
	&__a {
		text-decoration: none;
		color: inherit;
		&:hover {
			text-decoration: underline;
			color: inherit;
		}
		&:active {
			text-decoration: none;
		}
		&:visited {
			text-decoration: none;
		}
	}
	&_active {
		color: #f16d7f;
		font-weight: 700;
	}
}

.h1_lato {

	margin: auto;
	color: #222222;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.h2_lato {

	color: #777;
	font-size: 13px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
}

.p_lato {

	color: #cdcbcb;
	font-size: 0.813em;
	font-weight: 400;
	text-align: left;
}

.h2_lato2 {

	color: #777;
	font-size: 13px;
	font-weight: 700;
	text-align: left;
	text-transform: capitalize;
	text-decoration: none;
	&:hover {
		filter: drop-shadow(0 0 5px)
	}
}



.text_required {
	margin: 22px 0 32px;

	color: #ff0d0d;
	font-size: 13px;
	/* Approximation due to font substitution */
	font-weight: bold;
	line-height: 20px;
	/* Approximation due to font substitution */
	text-align: left;
	text-transform: capitalize;
	&_label {
		display: inline-block;

		color: #ff0d0d;
		font-size: 17px;
		font-weight: 400;
		text-align: left;
	}
}

.pointer {
	cursor: pointer;
}

.filling_pink {
	background-color: #f8f3f4;
}

.btn-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-top: 32px;
	&_forgot {
		justify-content: center;
		align-items: center;
		display: flex;
		text-align: center;
		margin: 32px 0 0;
		width: 180px;
		height: 50px;
		text-decoration: none;
	}
}

.formfield_set {
	border: none;
	width: 390px;
	margin: 0;
	margin-right: auto;
}

.carusel {
	border-style: solid;
	border-width: 1px;
	border-color: #eaeaea;
	box-sizing: border-box;
	background-color: #f7f7f7;
	&__inner {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: flex-start;
		position: relative;
		margin: 0 auto;
		width: 1600px;
		background-color: #f7f7f7;
		height: 777px;
		&_left-arrow {
			display: block;
			position: absolute;
			top: 50%;
			left: 0%;
			background-color: rgba(42, 42, 42, 0.15);
			width: 47px;
			height: 47px;
			cursor: pointer;
			font-size: 2em;
			text-align: center;
			box-sizing: border-box;
			line-height: 47px;
			color: white;
		}
		&_right-arrow {
			display: block;
			position: absolute;
			top: 50%;
			right: 0%;
			background-color: rgba(42, 42, 42, 0.15);
			width: 47px;
			height: 47px;
			cursor: pointer;
			font-size: 2em;
			text-align: center;
			box-sizing: border-box;
			line-height: 47px;
			color: white;
		}
	}
	&__img {
		width: 597px;
		height: 724px;
	}
}




.logo {
	display: flex;
	flex-flow: row nowrap;
	text-transform: uppercase;
	&:hover .logo__name {
		filter: drop-shadow(0 0 10px #f16d7f);
		transform: scale(1.2);
	}
	&__link {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		width: 164px;
		text-decoration: none;
	}
	&__name {
		transition: filter .3s ease, transform .3s ease;
		@include font-change(#3d3d40,
		27px,
		300);
	}
	&__d {
		@include font-change(#f16d7f,
		27px,
		700);
	}
}

.search-form {
	display: flex;
	flex-flow: row nowrap;
	height: 38px;
	width: 403px;
	box-sizing: border-box;
	margin-left: 46px;
	border-radius: 3px;
	border: $border-standard;
	&__browse {
		@include font-change(#777,
		16px,
		400);
		display: flex;
		flex-flow: row nowrap;
		border: none;
		background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
		width: 87px;
		outline: none;
		cursor: pointer;
		border-radius: 2px 0 0 2px;
		&:hover {
			background: linear-gradient(180deg, #f2f2f2 0%, #f0f0f0 100%);
		}
	}
	&__input {
		@include font-change(#222,
		16px,
		400);
		transition: box-shadow .2s ease;
		padding: 0 5px;
		border-top: 0;
		border-bottom: 0;
		border-right: 1px solid #e6e6e6;
		border-left: 1px solid #e6e6e6;
		box-sizing: border-box;
		width: 280px;
		outline: none;
		&::placeholder {
			@include font-change(#a4a4a4,
			16px,
			300);
		}
		&:focus {
			box-shadow: 0 0 7px -2px #a4a4a4 inset;
		}
	}
	&__submit {
		@include font-change(#777777,
		16px,
		400);
		width: 38px;
		border: none;
		border-radius: 0 2px 2px 0;
		text-align: center;
		background-color: #ffffff;
		background: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
		cursor: pointer;
		&:hover {
			background: linear-gradient(180deg, #f2f2f2 0%, #f0f0f0 100%);
		}
	}
}

.cart {
	&__wrapper {
		&:hover .cart__icon {
			filter: drop-shadow(0 0 7px #f16d7f);
			transform: rotate3d(0, 1, 0, 180deg);
		}
	}
	&__icon {
		background: url(../img/Forma%200.png) center no-repeat;
		background-size: 100%;
		transition: drop-shadow .2s linear, transform .2s linear;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		font-size: 30px;
		width: 30px;
		height: 30px;
		text-decoration: none;
		color: black;
		&:active {
			width: 40px;
			height: 40px;
		}
	}
}

.my-acc-btn {
	@include font-change(#ffffff,
	16px,
	400);
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin-left: 26px;
	text-decoration: none;
	box-sizing: border-box;
	outline: none;
	padding: 0;
	border: 0;
	border-radius: 3px;
	background-color: #f16d7f;
	width: 130px;
	height: 38px;
	text-transform: capitalize;
	cursor: pointer;
	&:hover {
		border: 1px solid #f16d7f;
		background-color: #ffffff;
		color: #f16d7f;
	}
	&:active {
		box-shadow: 0 0 10px #ea2e47;
	}
}

main {
	width: 100%;
}

.slider {
	width: 100%;
	background-color: #e8e8e8;
	display: flex;
	margin: 0 auto 98px;
	justify-content: center;
	position: relative;
	&__wrapper {
		width: 500px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 10%;
		border-left: 12px solid #f16d7f;
		padding-left: 12px;
	}
	&__title {
		display: block;
		width: 100%;
		color: #222222;
		font-size: 60px;
		font-weight: 900;
		text-transform: uppercase;
	}
	&__text {
		@extend .slider__title;
		font-size: 40px;
		&_red {
			display: inline;
			color: #f16d7f;
		}
	}
}

.badge {
	transition: all 0.3s ease;
	position: absolute;
	top: 25px;
	white-space: nowrap;
	background-color: white;
	padding: 19px 16px;
	left: 0;
	z-index: 0;
	filter: opacity(1);
	&_info {
		margin: 0;

		color: #222222;
		font-size: 18px;
		font-weight: 900;
		text-align: left;
		text-transform: uppercase;
	}
	&_category {
		margin: 0;

		color: #f16d7f;
		font-size: 30px;
		font-weight: 900;
		text-align: left;
		text-transform: uppercase;
	}
}

.banner {
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	width: 1140px;
	height: 823px;
	margin: 0 auto 98px;
	background-color: white;
	transition: transform 0.3s ease;

	&__tile {
		position: relative;
		overflow: hidden;
		&:hover .badge {
			@media screen and (min-width: 1141px) {
				transform: translate(-100%, 0);
			}
		}
	}
	&__long {
		width: 560px;
		height: 542px;
	}
	&__short {
		width: 560px;
		height: 261px;
	}
	&__man {
		background: url("../img/Banner1.jpg") no-repeat center;
	}
	&__accessories {
		background: url("../img/Banner2.jpg") no-repeat center;
	}
	&__women {
		background: url("../img/Banner3.jpg") no-repeat center;
	}
	&__kids {
		background: url("../img/Banner4.jpg") no-repeat center;
	}
	&__img {
		background-size: 100%;
		transition: all 0.3s ease;
		&:hover {
			@media screen and (min-width: 1141px) {
				background-size: 110%;
				filter: brightness(0.4);
			}
		}
	}
}

.shopping-cart {
	@extend %width-main;
	margin: 90px auto 0;
	.cart-header {
		width: 100%;
		height: 40px;
		display: flex;
		justify-content: space-between;
		align-content: space-between;
		&__details {
			@include font-change(#222222,
			13px,
			700);
			text-transform: uppercase;
			width: 440px;
			text-align: left;
		}
		&__h1 {
			@include font-change(#222222,
			13px,
			700);
			text-transform: uppercase;
			min-width: 140px;
			text-align: center;
		}
	}
	.cart-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 164px;
		border-top: $border-standard;
		border-bottom: $border-standard;
		box-sizing: border-box;
		width: 100%;
		padding: 25px 0;
		@include font-change(#222222,
		13px,
		400);
		text-transform: uppercase;
		&__info {
			display: flex;
			flex-flow: row wrap;
			width: 440px;
		}
		&__img {
			height: 100%;
		}
		&__wrapper-text {
			width: 70%;
			padding: 10px 10px 30px;
			box-sizing: border-box;
			flex-flow: row wrap;
		}
		&__name {
			@include font-change(#222222,
			13px,
			400);
			height: 30%;
			text-transform: uppercase;
		}
		&__color-p {
			@include font-change(#575757,
			13px,
			700);
			text-transform: capitalize;
		}
		&__color-span {
			@include font-change(#6f6e6e,
			13px,
			300);
			text-transform: capitalize;
		}
		&__size-p {
			@include font-change(#575757,
			13px,
			700);
			text-transform: capitalize;
		}
		&__size-span {
			@include font-change(#6f6e6e,
			13px,
			300);
			text-transform: uppercase;
		}
		&__price {
			margin: 0 auto;
			text-align: center;
			width: 140px;
			@include font-change(#656565,
			13px,
			700);
			text-transform: uppercase;
		}
		&__qty-div {
			@extend .cart-item__price;
		}
		&__qty {
			outline: none;
			border: $border-standard;
			box-sizing: border-box;
			background-color: white;
			width: 54px;
			height: 30px;
			text-align: center;
		}
		&__shipping {
			@extend .cart-item__price;
		}
		&__subtotal {
			@extend .cart-item__price;
		}
		&__action {
			@extend .cart-item__price;
			color: #c0c0c0;
			&:hover {
				color: black;
			}
		}
	}
}

.order {
	@extend %width-main;
	margin: 90px auto 78px;
	.buttons {
		height: 140px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-transform: uppercase;
		margin-bottom: 63px;
		.cart-clear {
			border: $border-standard;
			box-sizing: border-box;
			@include font-change(#4a4a4a,
			14px,
			700);
			text-transform: uppercase;
			text-align: left;
			background-color: white;
			height: 50px;
			padding: 0 40px;
			outline: none;
			&:hover {
				box-shadow: 2px 2px 3px;
				transform: translate(-1px, -1px)
			}
			&:active {
				box-shadow: 2px 2px 3px;
				background-color: #4a4a4a;
				color: #fff;
			}
		}
		.continue-shopping {
			@extend .cart-clear;
		}
	}
	.lower-fields {
		@extend %width-main;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.shipping {
			width: 355px;
			.address-title {
				@include font-change(#222222,
				16px,
				700);
				text-transform: uppercase;
			}
			.address-select {
				@extend %button-cart;
			}
			.state {
				@extend %button-cart;
			}
			.postcode {
				@extend %button-cart;
			}
			.quote {
				border: $border-standard;
				box-sizing: border-box;
				@include font-change(#4a4a4a,
				11px,
				700);
				text-transform: uppercase;
				background-color: white;
				outline: none;
				width: 100px;
				height: 35px;
			}

			.quote:hover {
				background-color: #f0f0f0;
			}
		}
		.coupon {
			width: 355px;
			.coupon-title {
				@include font-change(#222222,
				16px,
				700);
				text-transform: uppercase;
			}
			.coupon-text {
				@include font-change(#000000,
				14px,
				300);
			}
			.coupon-number {
				@extend %button-cart;
				color: #222222;
				&:placeholder {
					color: #eaeaea;
				}
			}
			.coupon-apply {
				@extend .quote;
				width: 118px;
			}

			.coupon-apply:hover {
				background-color: #f0f0f0;
			}
		}
		.checkout {
			margin: 0;
			width: 360px;
			height: 214px;
			text-transform: uppercase;
			text-align: right;
			background-color: #f5f3f3;
			display: flex;
			justify-content: flex-start;
			flex-flow: column wrap;
			align-items: center;
			box-sizing: border-box;
			.amounts {
				width: 273px;
				height: 104px;
				border-bottom: 1px solid #e2e2e2;
				.checkout__subtotal-title {
					@include font-change(#4a4a4a,
					11px,
					400);
					margin: 40px 0 0 0;
					width: 100%;
				}
				.checkout__grandtotal-title {
					margin: 14px 0 0 0;
					width: 100%;
					@include font-change(#222222,
					16px,
					700);
					.checkout__grandtotal-amount {
						@include font-change(#f16d7f,
						16px,
						700);
					}
				}
			}
			.checkout-button {
				@include font-change(#ffffff,
				16px,
				700);
				margin: 17px 0 0 0;
				background-color: #f16d7f;
				width: 273px;
				height: 50px;
				outline: none;
				border: none;
				text-transform: uppercase;
				&:hover {
					background-color: lighten(#f16d7f, 10)
				}
				&:active {
					background-color: darken(#f16d7f, 20)
				}
			}
		}
	}
}

@keyframes rotate {
	from {
		transform: rotateX(0deg) rotateY(0deg);
	}
	to {
		transform: rotateX(360deg) rotateY(360deg);
	}
}

$wh-cube: 32px;

.footer {
	width: 100%;
	&__wrapper {
		width: 100%;
		background-color: #e6e6e6;
		margin-top: 89px;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
	}
	&__copy-and-icons {
		width: 1140px;
		height: 79px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}

	&__social-icons_ul {
		padding: 0;
		width: 32px * 5 + 10px * 4;
		display: flex;
		flex-flow: row wrap;
		list-style-type: none;
		justify-content: space-between;
	}
	&__icon-wrapper {
		perspective: 160px;
		perspective-origin: 50% 50%;
	}
	&__icon-cube {
		display: block;
		margin: auto;
		position: relative;
		width: $wh-cube;
		height: $wh-cube;
		transform-style: preserve-3d;
		text-decoration: none;
		color: #b2b2b2;
		&:hover {
			animation: rotate 4s infinite cubic-bezier(.6, -0.5, .4, 1.5);
		}
		span {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			width: $wh-cube;
			height: $wh-cube;
			box-sizing: border-box;
			background-color: #ffffff;
			transition: all .1s linear;
		}
		&:hover span {
			border: 1px solid rgba(0, 0, 0, .1);
			background-color: #f16d7f;
			color: #ffffff;
		}
	} //front
	&__social-icon-side1 {
		transform: translateZ(16px);
	} //back
	&__social-icon-side6 {
		transform: translateZ(-16px) rotateY(180deg);
	} //right
	&__social-icon-side2 {
		transform: rotateY(-270deg) translateX(16px);
		transform-origin: top right;
	} //left
	&__social-icon-side4 {
		transform: rotateY(270deg) translateX(-16px);
		transform-origin: center left;
	} //bottom
	&__social-icon-side3 {
		top: 100%;
		left: 0;
		transform-origin: 0 0;
		transform: translate3d(0, 0, 16px) rotate3d(1, 0, 0, -90deg);
	} //top
	&__social-icon-side5 {
		transform: rotateX(-270deg) translateY(-16px);
		transform-origin: top center;
	}
} //-----------------
//--products.html--
%title-1 {
	color: #6f6e6e;
	font-size: 14px;
	font-weight: 700;
	&:hover {
		color: #ef5b70;
	}
}

%text-1 {
	font-family: Lato;
	color: #6f6e6e;
	font-size: 14px;
	font-weight: 400;
	&:hover {
		color: darken(#ef5b70, 20);
	}
}

.products__left-side {
	height: 100%;
	width: 240px; //	margin-right: 50px;
}

.products {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	margin: 60px auto 110px;
	width: 1140px; //details
	&__title {
		position: relative; //transition: all 2s ease;
		width: 100%;
		&[open] &_name {
			color: #ef5b70; //transition: all 2s ease;
			&:after {
				//display: block;
				//content: "";
				//width: 0;
				//height: 0;
				//border-left: 5px solid transparent;
				//border-right: 5px solid transparent;
				//border-top: 9px solid #f00;
			}
			&::-webkit-details-marker {
				//display: none;
				//position: absolute;
				//right: 0;
				transform: rotate(180deg);
				color: #ef5b70;
			}
		} //summary
		&_name {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			align-content: center;
			text-transform: uppercase;
			position: relative;
			height: 40px;
			width: 100%;
			outline: none;
			cursor: pointer;
			color: #6f6e6e;
			font-size: 14px;
			font-weight: 700;
			padding-left: 18px;
			border-bottom: 1px solid #ebebeb;
			box-sizing: border-box;
			&:hover {
				color: #ef5b70;
			}

			&::after {
				//border-radius: 5px;
				//font-family: "FontAwesome";
				//content: "\f0d7";
				//display: block;
				//content: "";
				//color: #fff;
				//float: left;
				//font-size: 1.5em;
				//font-weight: bold;
				//margin: -5px 10px 0 0;
				//padding: 0;
				//text-align: center;
				//transform: rotate(180deg);
			}

			&::-webkit-details-marker {
				//display: none;
				color: #000;
				position: absolute;
				right: 0;
				transform: rotate(90deg);
			}

			&:before {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				background-color: #ef5b70;
				width: 5px;
				height: 42px;
				z-index: 2;
			}
		}
		&_ul {
			list-style: none;
			padding: 0 20px;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: flex-start;
		}
		&_li {
			position: relative;
			width: 100%;
			height: 40px;
			text-transform: capitalize;
			&:hover {
				color: #ef5b70;
			}
			&:hover:before {
				content: "";
				display: block;
				position: absolute;
				left: -20px;
				background-color: #ef5b70;
				width: 5px;
				height: 50%;
				top: 25%;
			}
		}
		&_a {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			align-content: center;
			position: relative;
			color: inherit;
			text-decoration: none;
			height: 100%;
			&:visited {
				color: inherit;
			}
		}
	}

}

.products__filters {
	display: flex;
	justify-content: space-between;
	width: 100%;
	.trending {
		width: 280px;
		&__title {
			text-transform: uppercase;
			width: 100%;
			@extend %title-1;
		}
		&__ul {
			display: flex;
			flex-flow: row wrap;
			padding: 0;
			list-style: none;
			align-items: center;
			align-content: space-between;
			height: 40px;
			margin: 16px 0;
		}
		&__li {
			cursor: pointer;
			text-transform: capitalize;
			@extend %text-1;
			&:after {
				content: "|";
				position: relative;
				margin: 0 10px;
			}
		}
		&__a {
			text-decoration: none;
			color: inherit;
		}
	}
}

.size {
	@extend .trending;
	&__wrapper {
		//container
		@extend .trending__ul;

	}
	&__title {
		@extend .trending__title;
	}
	&__label {
		@extend %text-1;
		text-transform: uppercase;
		display: flex;
		position: relative;
		cursor: pointer;
		width: 55px;
		user-select: none;
		&:hover .size__checkmark {
			background-color: #eee;
		}
	}
	&__checkbox {
		opacity: 0;
		margin-left: 5px;
		&:checked ~ .size__checkmark {
			background-color: #ef5b70;
		}
	}
	&__checkmark {
		position: absolute;
		left: 0;
		border: 1px solid #ebebeb;
		box-sizing: border-box;
		background-color: #ffffff;
		width: 14px;
		height: 14px;
	}
}

.price {
	@extend .trending;
	&__title {
		@extend .trending__title;
	}
	&__container {
		@extend .trending__ul;
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		align-content: space-between;
	}
	&__slider {
		width: 100%;
		background-color: #f0f0f0;
		height: 6px;
		opacity: .7;
		-webkit-appearance: none;
		border-radius: 5px;
		outline: none;
		-webkit-transition: .2s;
		transition: opacity .2s;
		&:hover {
			opacity: 1;
		}
		&::-webkit-slider-thumb {
			appearance: none;
			background: #4CAF50;
			cursor: pointer;
			border-radius: 50%;
			background-color: #f16d7f;
			width: 14px;
			height: 14px;
		}
		&_min {
			@extend %text-1;
		}
		&_max {
			@extend %text-1;
		}
		_p {
			@extend %text-1;
		}
	}
}

.products__right-side {
	width: 850px;
}

.sort-show-bar {
	margin-top: 20px;
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
	background-color: #f3f3f3;
	height: 50px;
}

.sort-show-wrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	box-sizing: border-box;
	background-color: #f3f3f3;
	width: 150px + 130px + 10px + 10px + 10px;
	height: 30px;
	font-family: Lato;
	color: #6f6e6e;
	font-size: 14px;
	font-weight: 400;
	text-transform: capitalize;
}

.sort {
	border: 1px solid #ebebeb;
	box-sizing: border-box;
	width: 150px;
	height: 30px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: stretch;
	&__label {
		height: 100%;
		width: 50%;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		border-right: 1px solid #ebebeb;
	}
	&__select {
		cursor: pointer;
		height: 100%;
		width: 50%;
		box-sizing: border-box;
		outline: none;
		border: none;
		padding-left: 5px;
		background-color: #fff;
	}
}

.show {
	@extend .sort;
	width: 130px;
	&__label {
		@extend .sort__label;
		width: 60%;
	}
	&__select {
		@extend .sort__select;
		width: 40%;
	}
}

.products__tiles {
	height: 1200px; //	border: 1px solid black;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-evenly;
}

.product__tile {
	//	border: 1px solid black;
	height: 350px;
	width: 263px;
	position: relative;
	transition: all 0.3s ease;
	&:hover {
		box-shadow: 0px 3px 15px #333;
		.product__image {
			transition: all 0.3s ease;
			filter: brightness(0.4);
		}
		&:after {
			cursor: pointer;
			display: inline-block;
			border: 1px solid #fff;
			background-color: rgba(255, 255, 255, 0);
			width: 123px;
			height: 39px;
			position: absolute;
			top: 100px;
			left: 70px;
			right: 0;
			bottom: 0;
			line-height: 39px;
			color: #fff;
			font-size: 13px;
			font-weight: 700;
			text-align: center;
			content: "Browse more";
		}
	}
}

.products__bottom-bar {
	height: 44px;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}

.pages {
	height: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	font-family: Lato;
	color: #c4c4c4;
	font-size: 16px;
	font-weight: 300;
	border-radius: 3px;
	border: 1px solid #ebebeb;
	box-sizing: border-box;
	background-color: #ffffff; //	width: 261px;
	//	height: 44px;
	&__ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-content: center;
		align-items: center;
		list-style: none;
		padding: 0;
		margin-left: 16px;
		.active {
			color: #ef5b70;
		}
	}
	&__li {
		height: 100%;
		margin-right: 16px;
		&:last-child {
			//			margin-right: 0;
		}
		&:hover {
			font-weight: 400;
			color: #ef5b70;
			cursor: pointer;
		}
	}
}

.products__btn-open-all-products {
	border: 1px solid #ef5b70;
	border-radius: 3px;
	box-sizing: border-box;
	background-color: #ffffff;
	width: 150px;
	height: 44px;
	font-family: Lato;
	color: #ef5b70;
	font-size: 16px;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover {
		background-color: #ef5b70;
		color: #fff;
	}
	&:active {
		color: #fff;
		background-color: darken(#f16d7f, 20%);
		box-shadow: 3px 3px 10px lighten(#f16d7f, 20%);
	}
} //-----------------
//-----------------
.feature-box-wrapper {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: #222224;
	height: 341px;
}

.feature-box {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	width: 1140px;
	&__item {
		background: #222224;
		width: 310px;
		text-align: center;
		display: flex;
		flex-flow: column wrap;
		justify-content: space-between;
		align-items: center;
		align-content: center;
	}
	&__img1 {
		width: 50px;
		height: 50px;
		background: url(../img/Forma%201.png) center no-repeat;
	}
	&__img2 {
		width: 50px;
		height: 50px;
		background: url(../img/Forma%202.png) center no-repeat;
	}
	&__img3 {
		width: 50px;
		height: 50px;
		background: url(../img/Forma%203.png) center no-repeat;
	}
	&__title {
		margin-top: 20px;
		font-family: Lato;
		color: #fbfbfb;
		font-size: 20px;
		font-weight: 700;
	}
	&__text {
		margin-top: 20px;
		font-family: Lato;
		color: #fbfbfb;
		font-size: 14px;
		font-weight: 300;
		line-height: 24px;
	}
}

.header-mobile {
	display: none;
}

@media screen and (min-width: 1141px) {
	.header-bar-first-mobile {
		visibility: hidden;
	}
	.mob-header {
		display: none;
	}
	.header-mobile-img {
		display: none;
	}
	.product__text {
		display: none;
	}
	.subscribe-brands {
		display: none;
	}
	.quote-block__img {
		display: none;
	}
}

@media screen and (max-width: 1140px) {
	body {
//		background-color: lightblue;
		position: relative;
		display: flex;
	}
	.mob-header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		&-block {
			display: flex;
			&__wrapper {
				width: 75px;
				height: 75px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 30px;
				cursor: pointer;
				position: relative;
				&:hover {
					background-color: #fff;
				}
				&_hover-gray {
					&:hover {
						background-color: #f1e4e6;
					}
				}
				&_dark {
					background-color: #222;
				}
				&_cart:hover .cart__icon {
					background: url(../img/Forma%200.png) center no-repeat;
				}
			}
			&__menu:hover .mob-navbar {
				visibility: visible;
				position: static;
				display: flex;
				justify-content: flex-start;
				flex-flow: nowrap column;
				width: 100%;
				&__ul {
					list-style-type: none;
					display: flex;
					flex-flow: nowrap column;
					justify-content: center;
					margin: 0;
					height: 51px;
					margin-bottom: 3px;
				}
				&__item {
					display: flex;
					width: 100%;
					height: 100%;
					margin: 0 20px;
					align-items: center;
					color: #222222;
					font-size: 14px;
					font-weight: 700;
					text-transform: uppercase;
					text-decoration: none;
					&:hover {
						border-bottom: 3px solid #ef5b70;
					}
					&_active {
						border-bottom: 3px solid #ef5b70;
					}
				}
			}
			&__menu:hover .mob-header-block {
				display: none;
				visibility: hidden;
			}
		}

	}


	.header {
		height: 0px;
		visibility: hidden;
		display: none;
		&-bar {
			display: flex;
			visibility: hidden;
			border-bottom: none;
			&-first {
				display: none;
			}
			&-second {
				display: none;
			}
		}
	}


	.logo {
		display: none;
	}

	.search-form {
		display: none;

	}

	.cart__icon {
		background: url(../img/Forma%206.png) center no-repeat;
		position: relative;

		&_badge {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #f16d7f;
			font-size: 16px;
			border-radius: 50%;
			width: 20px;
			height: 20px;
			position: absolute;
			top: -5px;
			right: -10px;
		}

	}

	.head-banner {
		position: relative;
		margin: 0 auto 98px;

		&__pic {
			display: none;
		}
	}

	.header-mobile-img {
		width: 50%;
	}

	.slider {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		position: relative;
		max-height: 545px;
		margin: 0;
		padding: 0;
		&__img {
			display: none;
		}
		&__wrapper {
			position: static;
			align-self: center;
			transform: translateY(0);
		}
	}

	.navbar {
		display: none;
	}

	.mob-navbar {
		display: none;
		visibility: hidden;
	}

	.banner {
		margin: 0 auto;
		display: flex;
		flex-flow: wrap row;
		justify-content: space-between;
		align-items: flex-start;
		align-content: flex-start;
		width: 100%;
		height: 472px;
		margin: 0 auto 98px;
		background-color: white;
		transition: transform 0.3s ease;
		cursor: pointer;

		&__img {
			width: 32%;
			height: 260px;
			background-size: contain;
			transition: all 0.3s ease;
			filter: brightness(1);
			overflow: hidden;
			+ .accessories {
				width: 100%;
			}
		}
		&__tile {
			width: 33%;
			height: 260px;
			overflow: hidden;
			background-size: contain;
			+ .accessories {
				width: 100%;
				height: 180px;
				order: 2;
			}
			&:hover .badge {
				transform: translate(-50%, -50%) scale(1.2);
			}
			&:hover .banner__img {
				background-size: 110%;
				filter: brightness(0.4);
			}
		}
		&__long {
			width: 100%;
			height: 100%;
		}
		&__short {
			width: 100%;
			height: 100%;
		}
		&__man {
			background: url("../img/Layer%2030.png") no-repeat center;
			background-size: 100%;
		}
		&__accessories {
			width: 100%;
			height: 180px;
			background: url("../img/Layer%2045.png") no-repeat center;
			background-size: 100%;
		}
		&__women {
			background: url("../img/Layer%2043.png") no-repeat center;
			background-size: 100%;
		}
		&__kids {
			background: url("../img/Layer%2044.png") no-repeat center;
			background-size: 100%;
		}
	}
	.badge {
		transition: all 0.3s ease;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
		white-space: nowrap;
		background-color: transparent;
		padding: 19px 16px;
		z-index: 3;
		filter: opacity(1);
		cursor: pointer;
		&:hover .banner__img {
			background-size: 110%;
			filter: brightness(0.4);
		}
		&:after {
			content: "";
			position: absolute;
			border-bottom: 1px solid #ffffff;
			margin-top: 22px;
			width: 75%;
			left: 12.5%;
		}

		&_info {
			margin: 0;
			color: #fff;
			font-size: 18px;
			font-weight: 900;
			text-align: center;
			text-transform: uppercase;
		}
		&_category {
			margin: 0;
			color: #f16d7f;
			font-size: 30px;
			font-weight: 900;
			text-align: center;
			text-transform: uppercase;
		}
	}
	.items {
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-content: space-around;
		height: auto;
		.product {
			background-color: #f8f8f8;
			width: 32%;
			margin-bottom: 20px;
			&:hover {
				background-color: #ffffff;
			}
			&__text {
				color: #5d5d5d;
				font-size: 14px;
				font-weight: 300;
				line-height: 20px;
				padding: 15px;
				margin: 0;
			}
			&__image {
				width: 100%;
			}
		}
	}
	.btn_red {
		margin-top: 50px;
	}
	.feature {
		height: 341px;
		width: 100%;

		padding: 85px 0 0 0;
		&__banner {
			display: none;
		}
		&-block {
			display: flex;
			flex-flow: row nowrap;
			width: 100%;
			justify-content: center;
			align-items: center;
		}

		&-item {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			text-align: center;
			&__title {
				margin-bottom: 10px;
			}
			&__img1 {
				width: 50px;
				height: 50px;
				background: url(../img/Forma%201.png) center no-repeat;
				margin-bottom: 15px;
			}
			&__img2 {
				width: 50px;
				height: 50px;
				background: url(../img/Forma%202.png) center no-repeat;
				margin-bottom: 15px;
			}
			&__img3 {
				width: 50px;
				height: 50px;
				background: url(../img/Forma%203.png) center no-repeat;
				margin-bottom: 15px;
			}
		}
	}
	.subscribe {
		position: relative;
		width: 100%;
		height: auto;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-content: flex-start;
		margin: 0 auto;
		background: none;
		overflow: hidden;
		&-brands {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-content: center;
			flex: 0 1 50%;
			height: 422px;
			border-right: 1px solid #e7e7e7;
			box-sizing: border-box;
			padding: 0 10px;
			z-index: 2;
			&__link {
				margin: 10px;
				max-width: 166px;
				max-height: 107px;
				@media screen and (max-width: 802px) {
					margin: 0;
				}
			}
		}
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, .4);
		}
		&-slider {
			z-index: 2;
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			flex: 0 1 100%;
			background: url(../img/Layer%20101.png) no-repeat;
			background-position: center;
			background-size: cover;
			height: 438px;
			order: 2;
			&__list {
				z-index: 2;
				display: flex;
				flex-flow: row nowrap;
				list-style: none;
				padding: 20px 0 0 0;
			}
			&__item {
				z-index: 2;
				display: flex;
				box-sizing: border-box;
				width: 38px;
				height: 4px;
				background-color: #d6d6d6;
				border: none;
				margin-right: 10px;
				cursor: pointer;
				&:nth-child(2) {
					background-color: #f16d7f;
				}
				&:hover {
					background-color: #f16d7f;
				}
			}
			.quote-block {
				position: relative;
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				align-items: center;
				flex: 0 1 100%;
				width: 100%;
				&:after {
					content: "";
					position: absolute;
					width: 100%;
					height: 100%;
					background-color: rgba(255, 255, 255, .4);
				}
				&__img {
					z-index: 2;
				}
				&__quote {
					width: 65%;
					line-height: 26px;
					color: rgba(34, 34, 36, 0.67);
					font-size: 20px;
					font-style: italic;
					line-height: 38px;
					text-align: center;
					padding: 30px 0 15px 0;
					z-index: 2;
				}
				&__name {
					width: 65%;
					display: flex;
					flex-flow: column nowrap;
					justify-content: center;
					align-items: center;
					color: #f16d7f;
					font-size: 16px;
					font-weight: 700;
					text-transform: capitalize;
					z-index: 2;
				}
				&__address {
					width: 65%;
					display: flex;
					flex-flow: column nowrap;
					justify-content: center;
					align-items: center;
					color: #222224;
					font-size: 12px;
					font-weight: 300;
					text-transform: capitalize;
					z-index: 2;
				}
			}
		}
		&__form {
			height: 422px;
		}
		&__input {
			width: 70%;
			&-wrapper {
				display: flex;
				flex-flow: row nowrap;
				width: 80%;
			}
		}
		&__submit {
			width: 30%;
		}
	}
	.logo{
		display: block;
	}
}
